{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Домашняя страница{% endblock %}

{% block content %}
<header class="tm-header" id="tm-header">
    <div class="tm-header-wrapper">
        <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="tm-site-header">
            <div class="mb-3 mx-auto tm-site-logo"><i class="fas fa-times fa-2x"></i></div>
            <h1 class="text-center">{% trans 'Супер инфо' %}</h1>
        </div>
        <nav class="tm-nav" id="tm-nav">
            <ul>
                <li class="{% if request.path == '/' %}active{% endif %}"><a href="{% url 'home-list' %}" class="tm-nav-link">
                    <i class="fas fa-home"></i>
                    {% trans 'Blog Home' %}
                </a></li>
                <li class="{% if request.path == '/contact/' %}active{% endif %}"><a href="{% url 'contact-list' %}" class="tm-nav-link">
                    <i class="far fa-comments"></i>
                    {% trans 'Contact Us' %}
                </a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="container-fluid">
    <main class="tm-main">
        <!-- Search form -->
        <div class="row tm-row">
            <div class="col-12">
                <form method="GET" class="form-inline tm-mb-80 tm-search-form">
                    <input class="form-control tm-search-input" name="query" type="text" placeholder="{% trans 'Search...' %}" aria-label="Search">
                    <button class="tm-search-button" type="submit">
                        <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
                    </button>
                </form>
            </div>
        </div>
        <div class="row tm-row">
            <article class="col-12 col-md-6 tm-post">
                <hr class="tm-hr-primary">
                <a href="{% url 'publication-detail' pk=1 %}" class="effect-lily tm-post-link tm-pt-60">
                    <div class="tm-post-link-inner">
                        <img src="{% static 'img/img-01.jpg' %}" alt="Image" class="img-fluid">
                    </div>
                    <span class="position-absolute tm-new-badge">{% trans 'New' %}</span>
                    <h2 class="tm-pt-30 tm-color-primary tm-post-title">{% trans 'Simple and useful HTML layout' %}</h2>
                </a>
                <p class="tm-pt-30">
                    {% trans "There is a clickable image with beautiful hover effect and active title link for each post item. Left side is a sticky menu bar. Right side is a blog content that will scroll up and down." %}
                </p>
                <div class="d-flex justify-content-between tm-pt-45">
                    <span class="tm-color-primary">{% trans 'Hashtags:' %} #Travel #Events</span>
                    <span class="tm-color-primary">June 24, 2020</span>
                </div>
                <hr>
                <div class="d-flex justify-content-between">
                    <span>36 comments</span>
                </div>
            </article>
            <!-- Повторите блоки article для других постов с нужными данными -->
        </div>
        <div class="row tm-row tm-mt-100 tm-mb-75">
            <div class="tm-prev-next-wrapper">
                {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}" class="mb-2 tm-btn tm-btn-primary tm-prev-next tm-mr-20">{% trans 'Prev' %}</a>
                {% endif %}
                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="mb-2 tm-btn tm-btn-primary tm-prev-next">{% trans 'Next' %}</a>
                {% endif %}
            </div>
            <div class="tm-paging-wrapper">
                <span class="d-inline-block mr-3">{% trans 'Page' %}</span>
                <nav class="tm-paging-nav d-inline-block">
                    <ul>
                        {% for p in page_obj.paginator.page_range %}
                        <li class="tm-paging-item {% if page_obj.number == p %}active{% endif %}">
                            <a href="?page={{ p }}" class="mb-2 tm-btn tm-paging-link">{{ p }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
    </main>
</div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/templatemo-script.js' %}"></script>
{% endblock %}
